<!DOCTYPE html>
<html>
  <head>
    <title>Example1</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
  	<header>
  		<nav class="be-blue white large-padding">
  			<ul class="no-list row center-xs">
  				<li class="col-md">
  					<%= link_to "Inicio", root_path %>
  				</li>
  				<li class="col-md">
  					 <%= link_to "Foros", "/forums" %>
  				</li>
  				<li class="col-md">
  					<%= link_to "Estadísticas", root_path %>
  				</li>
  				<% if user_signed_in? %>
  				<li class="col-md">
  					<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
  				</li>
          <li class="col-md">
            <%= link_to "Editar cuenta", edit_user_registration_path %>
          </li>
  				<%else%>
  				<li class="col-md">
  					<%= link_to "Iniciar sesión", new_user_session_path %>
  				</li>
  				<li class="col-md">
  					<%= link_to "Crear cuenta", new_user_registration_path %>
  				</li>
  				<%end%>
  			</ul>
  		</nav>
  	</header>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
